<form [formGroup]="form">
  <div *ngFor="let prop of personProps">
    <label>{{ prop.label }}: </label>
    <div [ngSwitch]="prop.type">
      <input *ngSwitchCase="'text'" [type]="prop.type" [formControlName]="prop.key">
      <input *ngSwitchCase="'number'" [type]="prop.type" [formControlName]="prop.key">
      <select *ngSwitchCase="'select'" [formControlName]="prop.key">
        <option *ngFor="let option of prop.options" [value]="option.value">
          {{ option.label }}
        </option>
      </select>
    </div>
  </div>
</form>
<hr>
<pre>
  {{ form.value | json }}
</pre>

